# Исключаем временные файлы
__pycache__/
*.pyc

# Исключаем лог-файлы
*.log

# Исключаем виртуальное окружение
.venv/
env/


# Исключаем большой файл. Он будет в облаке
data/all_routes_combined.json
data/processed/all_routes_filtered/all_routes_filtered.json
